<%- include('./partials/header.ejs') %>
    <h1 class="title has-text-centered pt-3 has-text-white">The Music Box</h1>
    <h3 class="subtitle has-text-centered has-text-white">Edit your Jamz</h3>
    <div id="form" class="container is-fluid">
        <form action="/music/<%= music.id %>?_method=PUT" method="POST">
          <div class="field">
            <label class="label has-text-info">Edit Title</label>
            <div class="control">
            <input class="input" id="title" type="text" name="title" value="<%=music.title%>">
            </div>
          </div>
          <div class="field">
              <label class="label has-text-info">Edit Artist</label>
              <div class="control">
              <input class="input" id="artist" type="text" name="artist" value="<%=music.artist%>">
              </div>
            </div>
            <div class="field">
              <label class="label has-text-info">Edit Link</label>
              <div class="control">
              <input class="input" id="link" type="url" name="link" value="<%=music.link%>">
              </div>
            </div>
            <div class="field">
                <label class="label has-text-info">Edit Song/Album Image URL</label>
                <div class="control">
                <input class="input" id="image" type="url" name="image" value="<%=music.image%>">
                </div>
              </div>
              <div class="field">
                  <label class="label has-text-info">Edit Note</label>
                  <div class="control">
                  <input class="input" id="note" type="text" name="note" value="<%=music.note%>">
                  </div>
                </div>
                <label for="album"><strong>Is this an album?</strong></label>
                <input id="album" type="checkbox" name="album"            <% if(music.album === true) { %>
                    checked
                <% } %>
                />
                <p class="py-2">
                <button class="button is-success">Submit Changes</button>
                </p>
        </form>
        </div>
<%- include('./partials/footer.ejs') %>