<%- include('./partials/header.ejs') %>
    <h1 class="title has-text-centered pt-3">The Music Box</h1>
    <div class="container is-fluid">
    <ul>
        <% for(let i = 0; i < music.length; i++) { %>
          <li>
            <figure class="image is-128x128">
              <a href="/music/<%= music[i].id %>"> <img src="<%= music[i].image %>" alt=""> </a>
            </figure>
            <!--<form action="/music/<%=music[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />  
            </form> not going to include delete button in index -->
           </li>
        <% } %>
      </ul>
      </div>
<%- include('./partials/footer.ejs') %>