<%- include('./partials/header.ejs') %>
    <h1 id="indexTitle" class="title has-text-centered pt-3 has-text-white">The Music Box</h1>
    <div id="messageDiv" class="container is-fluid">
      <article class="message is-info">
        <div class="message-body has-text-centered">
          Browse through the music <strong>or</strong> <a href="/music/new">add</a> your own to the collection!
        </div>
      </article>
    </div>
    <div id="indexDiv" class="container is-fluid">
    <ul id="music">
        <% for(let i = 0; i < music.length; i++) { %>
          <li id="musicPosts">
            <a href="/music/<%= music[i].id %>"> 
            <figure class="image is-128x128">
            <img src="<%= music[i].image %>" alt="<%= music[i].title %> ">
            </figure>
            <div id="hoverContent">
              <h2 class="has-text-white">View</h2>
            </div>
            <!--<form action="/music/<%=music[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE" />  
            </form> not going to include delete button in index -->
            </a>
           </li>
        <% } %>
      </ul>
      </div>
<%- include('./partials/footer.ejs') %>