<%- include('./partials/header.ejs') %>
    <h1 class="title has-text-centered pt-3">The Music Box</h1>
    <h3 class="subtitle has-text-centered is-underlined"><%= music.title %></h3>
    <div  id="showPageDiv" class="columns container is-fluid is-align-items-center">
    <div id="showMusicImage" class="column is-one-fifth">
    <figure class="image is-128x128">
    <img src="<%= music.image %>" alt=""> </a>
    </figure>
    </div>
    <div id="showMusicDetails" class="column">
    <p><strong>Artist:</strong> <%= music.artist %></p>
    <p><strong>Note from Poster:</strong> <%= music.note %> </p>
    <% if(music.album === true) { %>
      <p> This is an <strong>album</strong> :)</p>
    <% } else { %>
      <p> This is a <strong>song</strong>! </p>
    <% } %>
    </div>
    <div class="column" id="showPageButtons">
   <p id="editButton"><a href="/music/<%=music.id%>/edit">
    <button class="button is-danger">Edit</button>
  </a></p>
  <p id="deleteButton"><form action="/music/<%=music.id%>?_method=DELETE" method="POST">
    <button class="button is-danger">Delete</button>  
  </form></p>
  </div>
  </div>
<%- include('./partials/footer.ejs') %>